
.youtube_side{
    font-family: Arial;
    color: #c7ccd2;
    
}
.bold{
    color: #fffffa;
    font-weight: lighter;
}
.tag{
    font-family: sans-serif;
    font-weight: lighter;
    font-style: italic;
}

.second_header{
    
    font-family: sans-serif;
    font-weight:lighter;
    font-size: 20px;
}
.Genres_type{
    color: #ffffff;
}
.genre{
    font-family: "Raleway";
    color: #c7ccd2;
    font-weight: lighter;
}
#add_alert{
    margin-top: 20px;
}
.cursor{
    cursor: pointer;
}
.headings{
    margin-top: 20px;
    color: white;
}
.headings-mobile{
    margin-top: 20px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.star{
    background-color: black;
    color: white;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-left-radius: 25% 50%;
    border-bottom-right-radius: 25% 50%;
    border-top-left-radius: 25% 50%;
    border-top-right-radius: 25% 50%;
}
.close{
    border-style: none;
}
.card{
    margin: 5px;
    width: 150px;
    height: auto;
    display: inline-block;
    outline: none;
    border-style: none;
}

.wid{
    width: 100%;
    border-radius: 10px;
}
.card-img{
    width: 80px;
}
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }
.card-title{
    font-weight: bold;
    text-align: center;
    color: black;
    
}
.ca{
    
    text-align: left;
    color: black;
}
.ca-content{
    text-align: left;
    color: black;
    font-family: Arial;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.ca-1{
    font-weight: bold;
}
.card-as{
    font-weight:bolder;
    color: black;
    text-align: center;
}
.card-text{
    font-size: small;
    text-align: center;
    color: black;
}

.atag{
    text-decoration: underline;
}

.actor_img{
    width: 100%;
    height: auto;
}
.ptag{
    margin-bottom: 5px;
    margin-top: 0;
    
}
.actor_card{
    margin: 5px;
    width: 150px;
    height: auto;
    display: inline-block;
    outline: none;
    border-style: none;
    cursor: pointer;
}
.actor_card_m{
    margin: 5px;
    width: 150px;
    height: 100%;
    display: inline-block;
    outline: none;
    cursor: pointer;
    
}
.fab{
    margin: 5px;
}
.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }