.navbar-dark{
    background-color: #010c1f;
}


.search_input{
    background-color: #010c1f;
    color: white;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-color: white;
}
.search_input:focus{
    outline: none;
}

